
#footer-bottom{
    background-color: pink;
    height: 15%;
    min-height: 100px;
    position:absolute;
    bottom:0;
    width:100%;
    
}

#left side{
    float: left;
    background-color: red;
    width: 15%;
    margin-top: 5%;
    min-height: 300px;
}
            
#right-side{
    width: 100px;
    height: 100px;
    float: right;
    background-color: green;
}   

body{
    height: 100%;
    background-color: yellow;
}

header{
    margin: center;
    text-align: center;
    background-color: blue;
    min-height: 100px;
}

main{
    
    text-align: center;
    margin: center;
    margin-top: 5%;
    min-height: 300px;
}

div {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
}
